{% extends "base.html" %}
{% block content %}
<style>
.right {
  position: absolute;
  right: 0px;
  width: 450px;
  height:600px;
  padding: 10px;
}
</style>
<div class="container">
      <iframe src='https://webchat.botframework.com/embed/eventPlanner1?s=yBY2D4Ms5Pw.cwA.-mg.-5DfIetkxtl_s4g7v6_2VTgkuA1jKeLAzEZmQQkcaO4' class='right'></iframe>
  <h1>Dashboard</h1>
  <h2><a href="{% url 'groups:all'%}">Go to Groups</a></h2></br>
    <a class="btn btn-primary" href="{% url 'groups:addEvent'%}" role="button">Add Event</a></br></br>
    <a class="btn btn-primary" href="{% url 'groups:showEvents'%}" role="button">Show Events</a>
</div>


{% endblock %}
